.dark-background {
    background-color: #525252;
}

.navbar {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.content-section {
    margin: 2em;
}

body {
    color: #f6f5f5;
}