.scene {
    perspective: 600px;
}

  .pack-card {
    width: 180px;
    height: 260px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card__face {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .card__face--front {
  }
  
  .card__face--back {
    transform: rotateY( 180deg );
  }

  .pack-card.is-flipped {
    transform: rotateY(180deg);
  }