.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}
.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-7px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


.scene {
    perspective: 600px;
}

  .pack-card {
    width: 180px;
    height: 260px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .card__face {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .card__face--front {
  }
  
  .card__face--back {
    transform: rotateY( 180deg );
  }

  .pack-card.is-flipped {
    transform: rotateY(180deg);
  }