@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

@include media-breakpoint-down(md) {
    .login-image {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
}

@include media-breakpoint-up(md) {
    .login-image {
        border-bottom-left-radius: 1em;
        border-top-left-radius: 1em;
    }
}