<div class="dark-background content-section">
    <div class="d-flex justify-content-center">
    <!--<div id="carouselExampleCaptions" class="carousel slide align-center shadow" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Welcome"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Latest Expansion"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Donate"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/home_slide_1.jpg" style="" alt="...">
            <div class="carousel-caption transparent-background">
                <h2 class="outline-text">Welcome!</h2>
                <p class="outline-text">We're excited to talk all things Pokémon with you!</p>
            </div>
          </div>
          <div class="carousel-item">
              <a routerLink="/packsim">
                <img src="/assets/home_slide_2.jpeg" style="" alt="...">
                <div class="carousel-caption transparent-background">
                <h2 class="outline-text">Shining Fates</h2>
                <p class="outline-text">Check out the Pack Simulator and see what you can pull from the latest expansion!</p>
                </div>
            </a>
          </div>
          <div class="carousel-item">
            <a target="_blank" href="https://www.paypal.com/donate?business=LC3UMWVDQLCUS&currency_code=USD">
                <img src="/assets/home_slide_3.jpg" style="" alt="...">
                <div class="carousel-caption d-md-block transparent-background">
                <h2 class="outline-text">Support Us</h2>
                <p class="outline-text">All donations are appreciated and help keep the site running.</p>
                </div>
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>-->
    
    </div>
</div>
