.breadcrumb-item {
    color: #313131;
}

.breadcrumb-item.active {
    color: #ca3e47;
}

.cursor-pointer {
    cursor: pointer;
}

.transparent-background {
    background-color: rgba(0,0,0,0);
    border: none;
}